#block-search, #block-search * {
  box-sizing: border-box;
}

#block-search {
  background: #ECECEC;
}

@media screen and (min-width: 1270px) and (min-height: 700px) {
  #block-search.main {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1320px;
    margin: -160px auto 67px;
    background: rgba(255, 255, 255, 0.8);
  }

  #block-search.main .be-container {
    padding: 0 60px;
  }

  .incre-container{
    height: 61vh;
    float: none;
  }
}

.be-container {
  max-width: 1403px;
  margin: 0 auto;
  padding: 0 30px;
}

#tl-booking-cart {
  z-index: 1 !important;
}

.be-link {
  position: absolute;
  right: 0;
  z-index: 2;
  margin: 10px 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 0;
  width: 20%;
  max-width: 385px;
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.05);
  background: #cbab58;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.be-link:hover {
  background: #ba973a;
  color: #fff;
  text-decoration: none;
}

.be-link--mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .be-link {
    display: none;
  }

  .be-link--mobile {
    position: static;
    display: flex;
    margin: 10px auto;
    width: 80%;
  }
}