#block-search, #block-search * {
  box-sizing: border-box;
}

#block-search {
  background: #ECECEC;
}

@media screen and (min-width: 1270px) and (min-height: 700px) {
  #block-search.main {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1320px;
    margin: -160px auto 67px;
    background: rgba(255, 255, 255, 0.8);
  }

  #block-search.main .be-container {
    padding: 0 60px;
  }

  .incre-container{
    height: 61vh;
    float: none;
  }
}

.be-container {
  max-width: 1403px;
  margin: 0 auto;
  padding: 0 30px;
}

#be-booking-form {
  z-index: 1;
}